@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.woff2') format('woff2'),
        url('./fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Lato';
    margin: 0;
    background-image: linear-gradient(to bottom, #6491d4, #96d06dad, #d1d85c);
}
* {
    box-sizing: border-box;
}
.quiz-container {
    max-width: 700px;
    min-height: 497px;
    background-color: #ffffff;
    margin: 30px auto;
    border-radius: 10px;
    padding: 25px; 
    box-shadow: 0px 5px 16px 6px rgba(34, 60, 80, 0.2);
}
.question-number h3 {
    color: rgb(51 132 210 / 75%);
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom:  10px;
}
#question {
    font-size: 24px;
    color: #000000;
    padding: 15px 0;
    margin-bottom: 10px;
}
.options {
    margin-bottom: 15px;
}
.options div {
    background-color: #6491d433;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.options div:hover {
    background-color: #6491d433;
}
.options div.correct {
    color: #ffffff;
    background-color: #232121c0;
}
.options div.wrong {
    color: #ffffff;
    background-color: rgba(235, 30, 30, 0.783);
}
.options div.disabled {
    pointer-events: none;
}
.warning {
    color: #2b00ff;
    margin-left: 15px;
    margin-bottom: 15px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button #btn-next {
    padding: 15px 50px;
    background-color: rgb(51 132 210 / 75%);
    font-size: 18px;
    color: #ffffff;
    border: none; 
    border-radius: 14px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
}
.button #btn-next:hover {
    background-color: #009687b6;
}
#answers-tracker {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#answers-tracker div{
    height:  40px;
    width: 40px;
    background-color: #6491d433;
    display: inline-block;
    margin-right: 10px;
    border-radius: 7px;
}
#answers-tracker div.correct {
    background-color: #232121c0;
}
#answers-tracker div.wrong {
    background-color: rgba(235, 30, 30, 0.783);
}
.quiz-over-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}
.quiz-over-modal.active {
    display: flex;
}
.quiz-over-modal .content {
    background-color: rgba(63, 147, 225, 0.667);
    padding: 30px;
    border-radius: 10px;
    flex-basis: 700px;
    max-width: 700px;
    color: #2c1f1fc1;
    text-align: center;
}
.quiz-over-modal .content h1 {
    font-size: 36px;
    margin: 0 0 20px;
}
.quiz-over-modal .content button {
    padding: 15px 50px;
    border: none;
    background-color: #d6d482c2;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #2c1f1fc1;
}
.quiz-over-modal .content button:hover {
    background-color: #ff9900b4;
}